<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{642,1042}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,1042}}</string>
                <key>sourceSize</key>
                <string>{642,1042}</string>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1047},{642,1042}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,1042}}</string>
                <key>sourceSize</key>
                <string>{642,1042}</string>
            </dict>
            <key>button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,448},{98,70}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{98,70}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>button_back_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,448},{110,82}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{110,82}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>button_choosenumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,448},{370,370}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{370,370}}</string>
                <key>sourceSize</key>
                <string>{386,386}</string>
            </dict>
            <key>button_choosenumber_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,555},{378,378}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,378}}</string>
                <key>sourceSize</key>
                <string>{386,386}</string>
            </dict>
            <key>button_common_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,229},{466,216}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{466,216}}</string>
                <key>sourceSize</key>
                <string>{514,258}</string>
            </dict>
            <key>button_common_1_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{474,224}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{474,224}}</string>
                <key>sourceSize</key>
                <string>{514,258}</string>
            </dict>
            <key>button_common_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1047},{726,216}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{726,216}}</string>
                <key>sourceSize</key>
                <string>{770,258}</string>
            </dict>
            <key>button_common_2_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1047},{734,224}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{734,224}}</string>
                <key>sourceSize</key>
                <string>{770,258}</string>
            </dict>
            <key>button_main_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,934},{356,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{356,110}}</string>
                <key>sourceSize</key>
                <string>{362,122}</string>
            </dict>
            <key>button_main_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,821},{356,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{356,110}}</string>
                <key>sourceSize</key>
                <string>{362,122}</string>
            </dict>
            <key>button_operator.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1272},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{218,218}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>button_operator_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,1047},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{222,222}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>button_prev.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,207},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{194,194}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>button_prev_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{202,202}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>button_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1210},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{130,130}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>button_question_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,936},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{138,138}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>check_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1692},{354,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{354,96}}</string>
                <key>sourceSize</key>
                <string>{362,106}</string>
            </dict>
            <key>check_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1692},{354,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{354,96}}</string>
                <key>sourceSize</key>
                <string>{362,106}</string>
            </dict>
            <key>check_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1692},{354,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{354,96}}</string>
                <key>sourceSize</key>
                <string>{362,106}</string>
            </dict>
            <key>check_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1692},{354,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{354,96}}</string>
                <key>sourceSize</key>
                <string>{362,106}</string>
            </dict>
            <key>check_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1692},{354,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{354,96}}</string>
                <key>sourceSize</key>
                <string>{362,106}</string>
            </dict>
            <key>check_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1692},{354,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{354,96}}</string>
                <key>sourceSize</key>
                <string>{362,106}</string>
            </dict>
            <key>check_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1692},{354,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{354,96}}</string>
                <key>sourceSize</key>
                <string>{362,106}</string>
            </dict>
            <key>check_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1692},{354,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{354,96}}</string>
                <key>sourceSize</key>
                <string>{362,106}</string>
            </dict>
            <key>check_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1692},{354,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{354,96}}</string>
                <key>sourceSize</key>
                <string>{362,106}</string>
            </dict>
            <key>check_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1692},{354,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{354,96}}</string>
                <key>sourceSize</key>
                <string>{362,106}</string>
            </dict>
            <key>common_dlg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,1042}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,1042}}</string>
                <key>sourceSize</key>
                <string>{642,1042}</string>
            </dict>
            <key>icon_chance.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,404},{148,148}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{148,148}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>icon_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,936},{76,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{76,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>operator_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1077},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>operator_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,2},{130,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{130,38}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>operator_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1170},{118,118}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{118,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>operator_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1047},{130,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>player_img_around.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1776},{256,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,256}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>player_img_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1784},{256,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,256}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:135ff7bc762e6dd2fd8121f5634603bc:1/1$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
